.App {
  text-align: center;
}

.App-header {
  background-color: #375e8f;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.next-btn {
  margin-left: 20%;

}

button {
  padding: 7px 20px 7px 20px;
  font-size: larger;
  border-radius: 20%;
  border: none;
  background-color: rgb(216,216,216);
}
button:hover {
  background-color: #375e8f;
  color: white;
}

