.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.next-btn {
  margin-left: 20%;
  padding: 6px 15px 6px 15px;
}

.required {
  border: 0;
  border-bottom: 1px solid #f9002ed2;
  outline: none;
}
.required::placeholder {
  color: red
}

.bottom-border {
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
}